<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pingan.skycode.wagecalculate.mapper.WageCalculateMapper" >

    <!--判断是否是省会城市-->
    <select id="isCapitalCity" resultType="java.lang.String">
            select is_capital_city
            from city
            where city_code = #{cityCode}
    </select>
    <!--判断是否是直辖市-->
    <select id="isManicipality" resultType="java.lang.String">
        select is_manicipality
        from city
        where city_code = #{cityCode}
    </select>
    <!--判断该城市户籍人口是否大于等于100万-->
    <select id="isGreaterCity" resultType="java.lang.String">
        select is_greater_city
        from city
        where city_code = #{cityCode}
    </select>

</mapper>
